<template lang="pug">  

  nav.nav.columns.is-gapless.color
    //- Links
    .column.is-3.is-flex.flex-start
      nuxt-link(to='/?target=top')
        img.logo(src='/icons/switch-color.svg',height='30')
    .column.is-9.is-flex.flex-end
      nuxt-link.is-size-6-desktop.item(to="/?target=about-us") Nosotros
      a.clickable.is-size-6-desktop.item(@click="showDevMenu") Desarrollo
      // nuxt-link.is-size-5-desktop.item(to='blog') Blog
      nuxt-link.button.is-size-6-desktop.item(to="/?target=contact") Cotiza ahora
      
      //- side bar
      menu-burger(@changeSidebar='changeSidebar',:status='false')

      menu-dev(v-if='devMenu')
      br/
      menu-mobile(v-if='sideBar')

</template>

<script>
// Menu burger
import menuBurger from '~/components/navegation/menuBurger'

// Dev menu
import menuDev from '~/components/navegation/menuDev'

// Mobile menu
import menuMobile from '~/components/navegation/menuMobile'

export default {
  beforeMount () {
    // Setup listening
    window.addEventListener('scroll', this.listenerNav)
  },
  beforeDestroy () {
    // Remove listener to disable scroll
		window.removeEventListener('scroll', this.listenerNav)
  },
  data: () => ({
    inTop: true,
    devMenu: false,
    sideBar: false,
    posY: 0
  }),
  methods: {
    /**
     * Watch move in scroll element
     */
    listenerNav (e) {
      this.posY = e.pageY || e.srcElement.scrollingElement.scrollTop
      this.inTop = (this.posY <= 10) ? true : false
    },
    /** 
		 * Cambio de estado barra menu 
		 * @param {Boolean} update : nuevo valor de menu
		 */
		changeSidebar (update) { this.sideBar = update },
    /**
     * Show dev menu
     */
    showDevMenu () {
      this.devMenu = !this.devMenu
      this.inTop = (this.devMenu) ? true : (this.posY <= 5)
    }
  },
  components: {
    menuBurger,
    menuDev,
    menuMobile
  }
}
</script>


<style lang="sass" scoped>
a
  cursor: pointer
.logo 
  height: 35px

  .black
    fill: #707070

.clickable
 cursor: pointer

.button
  background-color: #FBFBFB
  border-radius: 20em
  color: #0C1F51 !important
  font-weight: 600
  padding: .7em 1em
  box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2)

.nav
  transition: all .3
  position: absolute
  top: 0px
  left: 0px
  width: 100vw
  min-height: 10vh
  height: auto
  display: flex
  z-index: 15
  padding: 0em 3em;

  .item
    margin: 0px .5em

.color
  transition: all .3
  background-color: #FBFBFB
  position: fixed
  top: 0
  animation: fadein .4s

  a
    transition: all .9s
    color: #0C1F51
    text-decoration: none
    &:hover
      font-weight: 500
      color: #46CEF7
  
  a.button
    background-color: #46CEF7 !important
    color: #FBFBFB !important

.transparent
  background-color: transparent
  animation: fadeout .4s

  a
    color: #FBFBFB
    text-decoration: none
    
@keyframes fadein
  from
    background: transparent
  to
    background: #FBFBFB

@keyframes fadeout
  from
    background: #FBFBFB
  to
    background: transparent

@media screen and (min-width: 0) and (max-width: 1024px)
    a.item
      display: none

    .nav
      padding: 0em 2em;

</style>

