<template lang="pug">
  footer.columns.is-multiline.is-mobile.bg.blue--strong.pt-2
    .column.is-8-desktop.is-12-mobile
      nuxt-link.is-size-5.txt.gray--light.ml-1(to="/?target=about-us") Acerca de
      nuxt-link.is-size-5.txt.gray--light.ml-1(to="/?target=contact") Contacto
      // a.is-size-5.txt.gray--light.ml-1(@click="scrollTo('#')") Blog
      nuxt-link.is-size-5.txt.gray--light.ml-1(to='/privacy') Privacidad

    .column.is-4-desktop.is-12-mobile.is-flex.flex-end
      nuxt-link.button.is-size-6-desktop.is-size-7-mobile(to='/?target=contact') Cotiza ahora

    .column.is-8-desktop.is-12-mobile
      a.switch-icon(href='https://facebook.com/SwitchTecno',target='_blank')
        img.logo(src='/layout/wfb.svg' alt='white-facebook-custom-logo')
      //
        a.switch-icon(href='https://instagram.com/SwitchTecno',target='_blank')
          img.logo(src='/layout/wig.svg' alt='white-instagram-custom-logo')
        a.switch-icon(href='https://twitter.com/SwitchTecno',target='_blank')
          img.logo(src='/layout/wtw.svg' alt='white-twitter-custom-logo')

    .column.is-4-desktop.is-12-mobile.text-end
      p.is-size-6.txt.gray--light Llamanos al:  (961) 286 4799
      p.is-size-6.txt.gray--light #[strong Correo electrónico]:  info@switchtecno.com

    .column.is-12.text-end
      p.is-size-7.txt.gray--light © 2017-{{ new Date().getFullYear() }}. Switch Tecnologías © S.A. C.V Todos los derechos reservados.

</template>

<script>
export default {
  methods: {
    scrollTo (target) {
      this.$store.commit('scrollTo', target)
    }
  }
}
</script>

<style lang="sass" scoped>
a
 cursor: pointer
 
footer
  padding: 1em

.button
  outline: none
  transition: all .3s
  background-color: #FBFBFB
  cursor: pointer
  border: 0px
  border-radius: 20em
  color: #0C1F51
  font-weight: 700
  font-family: 'Cabin', Arial
  padding: .7em 1em
  box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2)

  &:hover
    background-color: #46CEF7
    color: white

a.switch-icon
  .logo
    margin: 1em
    width: 3em
    &:hover
      fill: #46CEF7 !important
</style>
