<template lang="pug">
  .container
    .sky
      .stars
      .stars1
      .stars2
      .shooting-stars
</template>

<style lang="sass" scoped>

  $starFieldWidth: 2560
  $starFieldHeight: 2560
  $starStartOffset: 600px

  $starOneScrollDuration: 100s
  $starTwoScrollDuration: 125s
  $starThreeScrollDuration: 175s
  $numStarOneStars: 400
  $numStarTwoStars: 300
  $numStarThreeStars: 200
  $numShootingStars: 10
  $width: 100%

  html
    height: 100%
    body
      width: 100%
      height: 100%
      margin: 0
  .container
    display: block
    position: relative
    z-index: -10
    width: 100%
    height: 100%
    background: linear-gradient(to bottom, #0C1F51 0%, #000000 100%)
    
  @function create-stars($n)

    $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF"

    @for $i from 2 through $n
      $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF"

    @return unquote($stars)

  @mixin star-template($numStars, $starSize, $scrollSpeed)
    z-index: 10
    width: $starSize
    height: $starSize
    border-radius: 50%
    background: transparent
    box-shadow: create-stars($numStars)
    animation: animStar $scrollSpeed linear infinite
    &:after
      content: " "
      top: -$starStartOffset
      width: $starSize 
      height: $starSize
      border-radius: 50%
      position: absolute
      backgroud: transparent
      box-shadow: create-stars($numStars)
      
    
  @mixin shooting-star-template($numStars, $starSize, $speed)
    z-index: 10
    width: $starSize
    height: $starSize + 80px
    border-top-left-radius: 50%
    border-top-right-radius: 50%
    position: absolute
    bottom: 0
    right: 0
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1))
    animation: animShootingStar $speed linear infinite
    
  .stars
    @include star-template($numStarOneStars, 1px, $starOneScrollDuration)
  .stars1
    @include star-template($numStarTwoStars, 2px, $starTwoScrollDuration)
  .stars2
    @include star-template($numStarThreeStars, 3px, $starThreeScrollDuration)
  .shooting-stars
    @include shooting-star-template($numShootingStars, 5px, 10s)
      
  @keyframes animStar
    from
      transform: translateY(0px)
    to
      transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px)
      

  @keyframes animShootingStar
    from
      transform: translateY(0px) translateX(0px) rotate(-45deg)
      opacity: 1
      height: 5px
    to
      transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px) rotate(-45deg)
      opacity: 1
      height: 800px

  @media screen and (min-width: 0) and (max-width: 768px)
    .container
      height: 100vh
</style>
