<template lang="pug">

  //- Side box element
  article.box.is-flex.flex-center(@mouseover='more = true',@mouseout='more = false')

    //- Image / icon
    figure: img(:src='icon' alt='Development console')
    br/
    
    //- content
    span.title.txt.gray--light {{ title }}
    br/
    nuxt-link.button-outline(v-if="more",:to='`${id}`') Saber más
    .mt-2(v-else)
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true,
      default: '/icons/flat-dev.svg'
    },
    title: {
      type: String,
      required: true
    }
  },
  data: () => ({
    more: false
  })
}
</script>


<style lang="sass" scoped>
  .box
    height: 30vh
    width: 100%

    img 
      height: 3em
    

    .title 
      margin-top: .5em
    

    .button-outline 
      
      background: transparent
      color: #FBFBFB
      
      height: auto
      width: auto
      
      border: 2px solid white
      padding: .5em 1em
      border-radius: 20em
      
      text-decoration: none
      animation: startbox 1s

  @keyframes startbox
    from
      transform: translateX(-12px)

      opacity: 0
      color: white
    to
      transform: translateX(0px)
      
      opacity: 1
      color: #46CEF7
</style>

