<template lang="pug">
  button(@click='changeStatus', :class="{ 'is-selected': hold }")
    span.is-size-5.is-size-6-mobile {{ title }}
    .color

</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      required: true
    },
    hold: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    }
  },
  methods: {
    /**
     * Change button state and hold until other change
     */
    changeStatus () {
      this.$emit('touch', this.id)
    }
  }
}
</script>


<style lang="sass" scoped>
button
  transition: all .5s
  cursor: pointer
  border: 0px
  font-weight: 600
  padding: 0em 2em
  height: 100%
  width: 20vw
  background-color: #FFFFFF
  color: #0C1F51
  outline: none

  &:hover
    .color
      margin-left: 25%
      width: 50%
      margin-top: .5em
      border-bottom: 5px solid #46CEF7
      animation: startbox .5s

div
  button.is-selected
    .color
      margin-left: 25%
      width: 50%
      margin-top: .5em
      border-bottom: 5px solid #46CEF7 !important
      animation: startbox .5s

@keyframes startbox
  from
    transform: translateX(-10px)
    opacity: 0
  to
    transform: translateX(0px)
    opacity: 1

@media screen and (min-width: 0) and (max-width: 768px)
  button
    min-width: 15em
    width: auto
    height: 100%
</style>
