<template lang="pug">
  .power-bar.columns
    .column.is-2.is-flex.flex-center
      strong.is-size-6 {{ title }}
    .column.is-10.is-flex.flex-center
      .power-parent
        .power-lvl(:style='{ width: `${value}%`}')
  
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    value: {
      type: Number,
      required: true
    }
  }
}
</script>


<style lang="sass" scoped>
.power-bar
  width: 100%

.power-parent
  width: 100%
  height: 1em
  border-radius: 20em
  background-color: #DEDEDE

.power-lvl
  height: 100%
  border-radius: 20em
  background: linear-gradient(249deg, #46cef7, #4ca2f0)
  background-size: 400% 400%
  animation: gradientmove 2s ease infinite

@keyframes gradientmove
    0%
      background-position: 0% 50%
    50%
      background-position: 100% 50%
    100%
      background-position: 0% 50%
</style>

