<template lang="pug">
  //-
    Side info component
    @author Elihu A. Cruz
    @version 1.0.2

  .description.p-2.pt-4
      h3.title.is-size-4.is-size-6-mobile.slideanim {{ title }}
      br/
      p.text.mt-1.is-size-6.is-size-7-mobile.slideanim {{ description }}
      br/
      .mt-1.pb-1
        nuxt-link.button(:to="link") Saber más

</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  }
}
</script>


<style lang="sass" scoped>
.description
  width: 30vw
  min-height: 75vh
  max-height: 85vh
  background: rgba(255,255,255,.7)
  overflow-y: scroll

  p 
    text-align: justify

  .title
    text-overflow: ellipsis

  .button
    background-color: #FBFBFB
    border-radius: 20em
    color: #0C1F51 !important
    font-weight: 600
    padding: .7em 1em
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2)
    text-decoration: none

@media screen and (min-width: 0) and (max-width: 768px)
  .description
    width: 100%
    margin-top: 30vh
    min-height: 50vh
    max-height: 50vh
    background: rgba(255,255,255,.7)
    overflow-y: scroll

  .mt-1
    margin-top: .3em !important
</style>
