/**
 * Colors
 * Base color template
 * @author Elihu A. Cruz
 */

/** Background */

.bg.blue--strong {
  background-color: #0C1F51;
}

.bg.blue--light {
  background-color: #1B45A7;
}

.bg.blue--normal {
  background-color: #2255CE;
}

.bg.blue--happy {
  background-color: #46CEF7;
}

.bg.gray--light{
  background-color: #FAFBFF;
}

.bg.gray--normal {
  background-color: #F4F7F7;
}

.bg.customgray {
  background-color: #F4F7F7;
}

.bg.gray--strong {
  background-color: #E3E3E3;
}

.bg.white {
  background-color: #FFFFFF;
}
/** Color's font */
.txt.white {
  color: #FFFFFF;
}

.txt.blue--strong {
  color: #0C1F51;
}

.txt.blue--light {
  color: #1B45A7;
}

.txt.blue--normal {
  color: #2255CE;
}

.txt.blue--happy {
  color: #46CEF7;
}

.txt.gray--light {
  color: #FAFBFF;
}

.txt.gray--normal {
  color: #F4F7F7;
}

.txt.gray--strong {
  color: #E3E3E3;
}

.regular {
  font-weight: 200;
}
