/**
 * Fonts setup
 * @author Elihu A. Cruz
 */

 /* 
  * Fonts from Google Fonts!! 
  * Cabin /\
  */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

/**
 * Fonts, headers, text and elements
 */
span, textarea, p, strong, i, input, div, article, section, aside {
  font-family: 'Cabin', sans-serif;
}


/* Headers */
@for $i from 1 through 6 {
  // margin
  .h#{$i} { 
    font-family: 'Cabin', sans-serif;
  }
}