/*
 * Margin system
 * @author Elihu A. Cruz
 */

 // Basic rules grid aligment
.text-align {
  text-align: center
}

.text-end {
  text-align: end
}

.text-start {
  text-align: start
}

.flex-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-flex {
  flex-direction: row;
}

.column-flex {
  flex-direction: column;
}

.page-end {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.page-start {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.page--full-height {
  height: 100vh;
  overflow-y: hidden;
}

.page--full-width {
  width: 100vw;
}

@for $i from 1 through 10 {
  // margin
  .mt-#{$i} { margin-top:    0em + $i !important; }
  .mb-#{$i} { margin-bottom: 0em + $i !important; }
  .ml-#{$i} { margin-left:   0em + $i !important; }
  .mr-#{$i} { margin-right:  0em + $i !important; }

  // Padding 
  .pt-#{$i} { padding-top:    0em + $i !important; }
  .pb-#{$i} { padding-bottom: 0em + $i !important; }
  .pl-#{$i} { padding-left:   0em + $i !important; }
  .pr-#{$i} { padding-right:  0em + $i !important; }

  //Margin & Padding
  .m-#{$i}  { margin:  0em + $i !important; }
  .p-#{$i}  { padding: 0em + $i !important; }
}

/* Mobile */
@media screen and (min-width: 0) and (max-width: 768px) {
  .page--full-height {
    min-height: 100vh;
    height: auto;
  }
  
  .page--full-width {
    min-width: 100vw;
    width: auto;
  }
}
