// Files
@import "_util", "_fonts", "_margin", "_colors";

// Reset Css

html, body{
  overflow-x: hidden;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline; 
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
}

a { text-decoration: none; }

.relative {
  position: relative;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
/*and (orientation : landscape)*/ {
  html,
  body {
    width:1000%;
    box-sizing: border-box;
  }
}

.fade-enter-active, .fade-leave-active  {
  transition: opacity .5s
}

.fade-enter,.fade-leave-to {
  opacity: 0
}

/* Slide fade */

.slide-fade-enter-active {
  opacity: 0 !important;
  transition: all .3s ease;
}

.slide-fade-leave-active {
  opacity: 0 !important;
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

/* base */
.company {
  z-index: 1;
}

/* moving */
.company-move {
  transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.company-enter-active {
  transition: all 400ms ease-out;
}

/* disappearing */
.company-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  position: absolute;
  opacity: 0;
  z-index: 0;
}

/* appear at / disappear to */
.company-enter,
.company-leave-to {
  opacity: 0;
  transform: translateX(10px);
}
