<template lang="pug">
  transition(name="company")
    .grid-menu(v-if='isVisible')
      h2.is-size-4 {{ title }}
      br/
      .menu-items.columns.is-multiline
        item-icon(
          v-for='(element,index) of elements'
          :key='`${index}-elements-list`'
          :title="element.title",
          :image="element.image"
        )

</template>

<script>
// items icons
import itemIcon from '~/components/navegation/itemIcon'

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    elements: {
      type: Array,
      required: true
    },
    isVisible: {
      type: Boolean,
      required: true
    }
  },
  components: {
    itemIcon
  }
}
</script>

<style lang="sass" scoped>
.grid-menu
  padding: 2em

.menu-items
  padding: 1em
  overflow-y: scroll
  overflow-x: hidden
</style>
