<template lang="pug">
  //- Components left items
    @author Elihu A. Cruz 
    @version 1.0.1
  nuxt-link.item-menu.columns.is-multiline.is-gapless.is-flex(
      :to="link",
      @mouseover.native="over",
      @mouseout.native="out"
    )
    .column.is-4-desktop.is-4-mobile.is-flex.flex-center
      figure
        img.item-menu-icon(:src='image')
    .column.is-8-desktop.is-8-mobile.is-flex.center
      span.txt.blue--strong.is-size-5-desktop.is-size-6-mobile {{ title }}

</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: -1
    },
    link: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  },
  methods: {
    /**
     * Emit mouse over to partent
     */
    over () { this.$emit('mouseOver', this.id) },
    /**
     * Emit mouse out to parent
     */
    out () { this.$emit('mouseOut',-1) }
  }
}
</script>


<style lang="sass" scoped>

.columns.is-gapless:not(:last-child)
    margin-bottom: 0rem !important

.center
  justify-content: flex-start
  align-items: center

.item-menu-icon
  margin: 0px 3em
  height: 3em

.item-menu
  text-decoration: none
  cursor: pointer
  height: 5em
  padding: 1em 0em

.item-menu:hover
  background-color: #E3E3E3

@media screen and (min-width: 0) and (max-width: 1024px)
    .item-menu-icon
      margin: 0px !important
      height: 2em

</style>

