<template lang="pug">
  .column.is-2-desktop.is-12-mobile
    .item-icon.is-flex.flex-center
      img(:src='image',alt='icon tech')
      p: strong.is-size-6 {{ title }}
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
  .item-icon
    text-align: center
    width: 100%
    min-height: 3em
    height: auto
    padding: 1em

    img
      height: 3em
</style>
