<template lang="pug">
  //-
    Menu - Dev info
    @author Elihu A. Cruz
    @version 1.0.1

  .frame.columns.is-gapless.is-multiline
    .column.is-4-desktop.bg.customgray
      //- Components left items
      item-group(
          v-for='(list,index) of menuList'
          :key='`${index}-list-menu`'
          :id='index'
          :link='list.link',
          :image='list.image',
          :title='list.title',
          @mouseOver="updateGrid"
        )

    .column.is-8-desktop.bg.white
      grid-tech(
        v-for='(list,index) of menuList'
        :key='`${index}-list-tec`'
        :id="index"
        :isVisible="(grid === index)",
        :title='list.grid.title',
        :elements='list.grid.elements'
      )

</template>

<script>
// Components
import itemGroup from '~/components/navegation/itemGroup'

// Grid apps components
import gridTech from '~/components/navegation/gridTech'

export default {
  data: () => ({
    grid: -1,
    menuList: [
      {
        link: '/about/apps?target=top',
        image: '/icons/iso-phone.svg',
        title: 'Aplicaciones Nativas/Web',
        grid: {
          title: 'Tecnologías/Soluciones',
          elements: [
            { title: 'Android', image: '/icons/item-android.svg'},
            { title: 'Vue/Native Script', image: '/icons/item-native.svg'},
            { title: 'React Native', image: '/icons/item-reactnative.svg'}
          ]
        }
      },
      {
        link: '/about/web?target=top',
        image: '/icons/iso-laptop.svg',
        title: 'Desarrollo de sitios web',
        grid: {
          title: 'Tecnologías/Soluciones',
          elements: [
            { title: 'Node.js', image: '/icons/item-node.svg'},
            { title: 'PHP', image: '/icons/item-php.svg'},
            { title: 'Java SE/EE', image: '/icons/item-java.svg'},
            { title: 'PostgreSQL', image: '/icons/item-postgres.svg'},
            { title: 'MySQL', image: '/icons/item-mysql.svg'},
            { title: 'Wordpress CMS', image: '/icons/item-wp.svg'},
            { title: 'Vue.js', image: '/icons/item-vue.svg'},
            { title: 'React.js', image: '/icons/item-react.svg'}
          ]
        }
      },
      {
        link: '/about/saas?target=top',
        image: '/icons/iso-saas.svg',
        title: 'Software como servicio',
        grid: {
          title: 'Nuestros servicios',
          elements: [
            { title: 'Jobiz.mx', image: '/icons/item-jobiz.svg'},
            { title: 'Proximamente', image: '/icons/item-bc.svg'}
          ]
        }
      },
      {
        link: '/about/consult?target=top',
        image: '/icons/iso-contract.svg',
        title: 'Consultorías',
        grid: {
          title: 'Soluciones',
          elements: [
            { title: 'Asesoría tecnológica y empresarial', image: '/icons/item-usb.svg'}
          ]
        }
      },
      {
        link: '/about/sales?target=top',
        image: '/icons/iso-desktop.svg',
        title: 'Venta de equipos',
        grid: {
          title: 'Soluciones',
          elements: [
            { title: 'Venta de equipos de computo ', image: '/icons/item-desktop.svg'}
          ]
        }
      }
    ]
  }),
  methods: {
    /**
     * Update grid value, and triger new menu
     * @param {Number} update
     */
    updateGrid (update) { this.grid = update }
  },
  components: {
    itemGroup,
    gridTech
  }  
}
</script>

<style lang="sass" scoped>

.columns.is-gapless:not(:last-child)
    margin-bottom: 0rem !important

.frame
  position: fixed
  top: 0
  top: 10vh
  left: 0px
  overflow-x: hidden
  overflow-y: scroll
  min-height: 80vh
  max-height: 80vh
  width: 100%

  -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2)
  -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2)
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2)

</style>
