<template lang="pug">
  .frame-mobile
    .columns.is-multiline
      .column.is-12-mobile.is-flex.flex-start.pl-3.pr-3
        nuxt-link.is-size-4-mobile.item(to='/') Inicio
        nuxt-link.is-size-4-mobile.item(to='/?target=about-us') Nosotros
        // 
          br/
          nuxt-link.is-size-4-mobile.item(to='blog') Blog
          br/
          span.is-size-4-mobile.item Desarrollo
        br/
      .column.is-12-mobile.grid-items.bg.customgray
        item-group(
            v-for='(list,index) of menuList'
            :key='`${index}-list-menu`'
            :id='index'
            :link='list.link',
            :image='list.image',
            :title='list.title'
          )
      .column.is-12-mobile.is-flex.flex-center
        a.button.bg.blue--happy.is-size-5-mobile.item(@click="scrollTo('#contact')") Cotiza ahora

</template>

<script>

// Components
import itemGroup from '~/components/navegation/itemGroup'

export default {
  data: () => ({
    menuList: [
      {
        link: '/about/apps?target=top',
        image: '/icons/iso-phone.svg',
        title: 'Aplicaciones Nativas/Web'
      },
      {
        link: '/about/web?target=top',
        image: '/icons/iso-laptop.svg',
        title: 'Desarrollo de sitios web'
      },
      {
        link: '/about/saas?target=top',
        image: '/icons/iso-saas.svg',
        title: 'Software como servicio'
      },
      {
        link: '/about/consult?target=top',
        image: '/icons/iso-contract.svg',
        title: 'Consultorías'
      },
      {
        link: '/about/sales?target=top',
        image: '/icons/iso-desktop.svg',
        title: 'Venta de equipos'
      }
    ]
  }),
  methods: {
    scrollTo (target) {
      this.$store.commit('scrollTo', target)
    }
  },
  components: {
    itemGroup
  }  
}
</script>

<style lang="sass" scoped>

.grid-items
  height: auto
  overflow-y: scroll

.flex-start
  flex-direction: column
  justify-content: flex-start

.item
  margin: .3em 0em
a
  text-decoration: none

.frame-mobile
  position: absolute
  top: 10vh
  right: 0px
  background: white
  width: 100%
  max-height: 85vh
  height: auto
  overflow-y: scroll !important
  overflow-x: hidden

.clickable
 cursor: pointer

.button
  background-color: #46CEF7
  border-radius: 20em
  color: #FBFBFB !important
  font-weight: 600
  padding: .7em 1em
  width: auto
  box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2)
  
</style>


