<template lang="pug">
	//-
		Author: Elihu A. Cruz
		Version: 1.0.1

	//- Button scheme
	#burger-animation.nav-trigger(
			@click='menuClick',:class="{ 'is-active': sidebar, 'is-transparent': status }",v-if='mobile',type='button'
		)
		span

</template>

<script>

/**
 * Description
 * @author Elihu A. Cruz
 * @version 1.0.1
 */

export default {
	/**
	 * App data
	 */
	data: () => ({ mobile: false, sidebar: false }),
	// Mount component
	mounted () {
		this.setStatusBar()
		window.addEventListener('resize', this.setStatusBar)
	},
	beforeDestroy () {
		window.removeEventListener('resize', this.setStatusBar)
	},
  props: ['status'],
	methods: {
		/** detect mobile mode */
		setStatusBar () { this.mobile = this.mobilecheck() },
		/**
		 * Validación mobile screen chat
		 */
		mobilecheck () { return (window.innerWidth < 1024) },
		/**
		 * Handle sidebar menu click event
		 */
		menuClick (event) {
			if (!this.sidebar) {
				window.addEventListener('click', this.outSide)
			} else {
				window.removeEventListener('click', this.outSide)
			}
			this.sidebar = !this.sidebar
			this.$emit('changeSidebar', this.sidebar)		
		},
		outSide (event) {
			if (event.target.id === 'burger-animation') {
				return
			} else {
				this.menuClick()
			}
		}
	}
}
</script>


<style lang="scss" scoped>

/* Nav Trigger */
.nav-trigger {
	width: 45px;
	height: 40px;
	position: relative;
	background: transparent;
	border: none;
	vertical-align: middle;
	padding: 10px;
	margin: 1em 0em 0em 0em;
  cursor: pointer;
  &.is-transparent {
    span,
    span:before,
    span:after {
      background-color: white !important;
    }
  }
	&:focus {
		outline: 0;
	}
	span {
		pointer-events: none;
		display: block;
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
		}
		&:before {
			top: -8px;
		}
		&:after {
			bottom: -8px;
		}
	}
	span,
	span:before,
	span:after {
		width: 100%;
		height: 4px;
		background: #0C1F51;
		transition: all 0.4s ease;
  }
  &.is-active.is-transparent {
    span {
			background: transparent !important;
		}
  }
	&.is-active {
		span {
			background: transparent;
			&:before {
				top: 0;
				transform: rotate(225deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-225deg);
			}
		}
	}
}

</style>
