<template lang="pug">
  div
    navbar
    nuxt
    switch-footer
</template>

<script>
// Navegation component
import navbar from '~/components/navbar'
import switchFooter from '~/components/footer'

export default {
  components: {
    navbar,
    switchFooter
  }
}
</script>
