<template lang="pug">
  div
    about-navbar
    nuxt
    about-footer
</template>

<script>
// Navegation component
import aboutNavbar from '~/components/aboutNavbar'
import aboutFooter from '~/components/aboutFooter'

export default {
  components: {
    aboutNavbar,
    aboutFooter
  }
}
</script>
