<template lang="pug">
  //- 
    Service description template
    @author Elihu A. Cruz
  main#top.columns.is-multiline.is-mobile.is-gapless
    .column.is-12-desktop.is-12-mobile.title-back

      .columns.is-multiline.is-mobile.is-gapless.page--full-height
        .column.is-4-desktop.is-12-mobile.bg.white
          section.is-flex.page-start.ml-2.page--full-height
            h1.is-size-3.txt.blue--strong Desarrollo web
            .line
            p.is-size-5-desktop.txt.blue--strong Miles de clientes en linea esperan tus productos y servicios. Empieza hoy en el mundo de internet.

        .column.is-8-desktop.is-12-mobile.relative
          img.frame-top(src='/background/frame-top.svg')

    .column.is-12-desktop.is-12-mobile.page--full-height

      .columns.is-multiline.is-mobile.is-gapless.page--full-height
        .column.is-6-desktop.is-12-mobile.is-flex.flex-center
          img.icon-expo.slideanim(src='/layout/laptop-web.svg')

        .column.is-6-desktop.is-12-mobile
          section.is-flex.page-start.ml-5.mr-5.page--full-height
            h1.is-size-4.txt.blue--strong.slideanim ¿Porqué una sistema/plataforma web?
            .line
            p.is-size-6-desktop.txt.blue--strong.slideanim Una aplicación móvil, impacta en la vida de tus clientes permite a tu empresa escuchar a tus usuarios y darles una nueva forma de disfrutar tus productos.

    .column.is-12-desktop.is-12-mobile.is-flex.flex-center.relative
      div.phrase.text-end
        i.is-size-5-desktop.is-size-5-mobile.text-aling.slideanim Tenemos que desarrollar una visión integral y compartida a nivel mundial de cómo la tecnología está afectando nuestras vidas y reformando nuestros entornos económicos, sociales, culturales y humanos
        p.is-size-6-desktop.is-size-6-mobile.user-text.mt-1.slideanim Klaus Schwab, Fundador y Presidente Ejecutivo del Foro Económico Mundial
      img.logo-quote(src='/layout/quote.svg',alt='quote')

    .column.is-12-desktop.is-12-mobile.mt-5
      .is-flex.flex-center
        h1.is-size-4.txt.blue--strong.slideanim ¿Qué tecnologías manejamos?

      .curve-back.tools.pb-2.is-flex.flex-center.slideanim
        section-tech(titleOne='¿Cómo operamos?',titleTwo='Nuestras tecnologías',:options='options',:items='items')
      
      .is-flex.flex-center.mt-3
        h1.is-size-4.txt.blue--strong.mb-p.slideanim Desarrollamos con metodologías ágiles

      .curve-back-gray.tools.pt-3.pb-2.is-flex.flex-center
        .columns.is-multiline.is-mobile.is-centered.page--full-width
          
          .column.is-4-desktop.is-12-mobile.is-flex.flex-center.slideanim
            img.icon-galery(src='/layout/analisis.svg')
            p.text-align.is-size-5 Análisis y diseño

          .column.is-4-desktop.is-12-mobile.is-flex.flex-center.slideanim
            img.icon-galery(src='/layout/development_team.svg')
            p.text-align.is-size-5 Desarrollo iterativo

          .column.is-4-desktop.is-12-mobile.is-flex.flex-center.mb-2.slideanim
            img.icon-galery-mod(src='/layout/delivery_team.svg')
            p.text-align.is-size-5 Entrega de producto
    
    section-contact

</template>

<script>
import sectionTech from '~/components/description/sectionTech'
import sectionContact from '~/components/description/sectionContact'

export default {
  layout: 'service',
  data: () => ({
    description: 'El marketing móvil cada vez más se abre paso en las estrategias de marketing de los negocios. Esto es así, debido al interés que muestran los usuarios por los smartphones. Y no solo eso, sino que además, las marcas tienen en cuenta el comportamiento de los usuarios con este tipo de dispositivos móviles, de forma que contar con una app propia es muy importante para llegar a tus consumidores. ',
    items: [
      { title: 'Node.js', image: '/icons/item-node.svg'},
      { title: 'PHP', image: '/icons/item-php.svg'},
      { title: 'Java SE/EE', image: '/icons/item-java.svg'},
      { title: 'PostgreSQL', image: '/icons/item-postgres.svg'},
      { title: 'MySQL', image: '/icons/item-mysql.svg'},
      { title: 'Wordpress CMS', image: '/icons/item-wp.svg'},
      { title: 'Vue.js', image: '/icons/item-vue.svg'},
      { title: 'React.js', image: '/icons/item-react.svg'}
    ]
  }),
  mounted () {
    console.log(this.$route.query.target)
    if (this.$route.query.target) {
      setTimeout(() => {
        this.$store.commit('scrollTo', `#${this.$route.query.target}`)
      }, 1)
    }
  },
  components: {
    sectionTech,
    sectionContact
  }
}
</script>

<style lang="sass" scoped>
.icon-galery
  width: 8em

.icon-galery-mod
  width: 5em

.tools
  min-height: 80vh
  height: auto

.curve-back
  background-image: url('/layout/back-curve-blue.svg')
  background-repeat: no-repeat, repeat
  background-size: 100% 100%
  z-index: 2

.curve-back-gray
  background-image: url('/layout/curve-gray.svg')
  background-repeat: no-repeat, repeat
  background-size: 100% 100%
  z-index: 2

.phrase
  width: 50%

.comment-h
  min-height: 70vh

.logo-quote
  position: absolute
  width: 7em
  top: 0%
  left: 10%
  z-index: -1

.user-text
  color: #A2A2A2

.icon-expo
  width: 20em

.line
  margin: 1em 0em 1em 0em
  width: 5em
  border-bottom: 5px solid #46CEF7


img.frame-top
  position: absolute
  top: 0px
  left: -1% !important
  width: 101% !important
  z-index: 0

.align
  justify-content: center

.title-back
  background-image: url('/background/web-back.jpg')
  background-repeat: no-repeat, repeat
  background-size: cover
  z-index: -1

@media screen and (min-width: 0) and (max-width: 768px)
  .curve-back.tools
    padding-top: 10em !important
    padding-bottom: 10em !important
    min-height: 50vh
    height: auto
    background-position: center
    background-size: cover

  .curve-back-gray.tools
    padding-top: 10em !important
    padding-bottom: 10em !important
    min-height: 50vh
    height: auto
    background-position: center  
    background-size: cover

  .mb-p
    padding-left: 2em
</style>

