<template lang="pug">
  .column.is-6-desktop.is-12-mobile.page--full-height.bg.customgray.pl-4.pr-4
    h2.is-size-2-desktop.mt-5 {{ title }}
    p.is-size-5.justify.mt-3 {{ description }}
</template>

<script>
export default {
  props: ['title','description']
}
</script>

<style lang="sass" scoped>
.justify
  text-align: justify
</style>
