<template lang="pug">
  .column.is-12-desktop.is-12-mobile.is-flex.flex-center.text-align
    h1.is-size-4.txt.blue--strong.mb-5.slideanim ¿Tienes dudas? Escribenos sin compromiso

    nuxt-link.button.relative.mb-5(to='/?target=contact')
      span.is-size-4-desktop.slideanim Contactanos hoy
      img.guy.slideanim(src='/about/guy.svg',alt='Guy bottom')
</template>

<style lang="sass" scoped>
.button
  outline: none
  transition: all .3s
  background-color: #FBFBFB
  cursor: pointer
  border: 0px
  border-radius: 20em
  color: #0C1F51

  font-family: 'Cabin', Arial
  padding: 2em 2em
  box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2)

  &:hover
    background-color: #46CEF7
    color: white

.relative
  position: relative

.guy
  top: -5em
  right: 0px
  position: absolute
  width: 5em

</style>

