<template lang="pug">
    .columns.is-multiline.is-mobile.is-flex.row-flex.flex-center.frame-icons
      item-icon(
          class='slideanim'
          v-for='(element,index) of items'
          :key='`${index}-elements-list-about`'
          :title="element.title",
          :image="element.image"
        )
</template>

<script>
// Grid apps components
import itemIcon from '~/components/navegation/itemIcon'

export default {
  props: ['titleOne', 'titleTwo', 'options', 'items'],
  components: {
    itemIcon
  }
}
</script>

<style lang="sass" scoped>
.frame-icons
  height: 40%
  width: 100%

@media screen and (min-width: 0) and (max-width: 768px)
  .frame-icons
    width: auto
    overflow-x: scroll
</style>
