<template lang="pug">
  .column.is-6-desktop.is-12-mobile.page--full-height.relative.is-flex.flex-center
    img.image(:src='image',:alt='text')
    h1.is-size-2-desktop.is-size-3-mobile.mt-2 {{ text }}
    img.triangle(src='/about/tg-top.svg',alt='Triangle')

</template>

<script>
export default {
  props: ['image','text']
}
</script>

<style lang="sass" scoped>
.relative
  position: relative

.triangle
  position: absolute
  top: 0px
  left: 0px
  width: 25em

img.image
  height: 10em
</style>

