<template lang="pug">
  //- Main container
  main#top
    //- (1) Title applicacion ~ welcome
      * Side menu: 
      * Mobile dev
      * Web dev
      * Hardware Sales
    slide
      background-sky
      page-home

    //- (2) Grid system Products
      * Applications w/n
      * Web sites
      * Software as a service
      * Consultant
      * Hardware sale
    
    page-service-galery

    //- (3) Why us?
      * Title
      * Comments
      * Levels
    slide
      page-about

    //- (4) Our clients
      * Images
      * Title
      * Sub-title
      * clients carrousel
      slide
      // our-clients
    process

    //- (5) Clients comments
      * Title
      * Card comments
      * left, right buttons
      * Social numbers
      * icons
    comments

    //- (6) Questions
      * Form
      * Title
      * Maps
    slide
      contact

    //- FOOTER HERE

</template>

<script>
// Slide configuration
import slide from '~/components/slide'
import pageHome from '~/components/pages/home'
import pageServiceGalery from '~/components/pages/serviceGalery'
import pageAbout from '~/components/pages/about'
import process from '~/components/pages/process'
import comments from '~/components/pages/comments'
import contact from '~/components/pages/contact'

// Animation component
import backgroundSky from '~/components/backgroundSky'

export default {
  layout: 'home',
  components:{
    slide,
    backgroundSky,
    pageHome,
    pageServiceGalery,
    pageAbout,
    comments,
    contact,
    process
  },
  mounted () {
    console.log(this.$route.query.target)
    if (this.$route.query.target) {
      setTimeout(() => {
        this.$store.commit('scrollTo', `#${this.$route.query.target}`)
      }, 700)
    }
  }
}
</script>
