<template lang="pug">
  //-
    About our team
    @author Elihi A. Cruz
    @versoin 1.0.1

  section#about-us.columns.is-multiline.is-mobile.page--full-height.page--full-width.is-gapless
    .column.is-6-desktop.is-12-mobile.bg.white.page-full-height
      .head-about.pl-4.pr-4.pt-4
        h1.is-size-3.slideanim ¿Porqué nosotros?
        br/
        h3.is-size-5.slideanim Trabajamos con compromiso y dedicación, creamos #[strong.txt.blue--light software], pero vendemos #[strong.txt.blue--happy confianza.]

      .body-about.text-align
        img(src='/background/desktop.jpg')

    .column.is-6-desktop.is-12-mobile.bg.relative
      .head-skill.is-flex.flex-center.pt-3.pl-4.pr-4
        .circle.gradient
        h1.is-size-3.slideanim Expertos en software
        br/
        h3.is-size-6.mt-1.slideanim Con personal capacitado en: Ingeniería en desarrollo de software

      .body-skill.columns.is-multiline.mt-5
        .column.is-3.is-flex.flex-center.mb-2
          h3.is-size-3.vertical Habilidades
        .column.is-8.is-flex.flex-center.mb-2
          power-bar(
            class='slideanim'
            v-for='(skill,index) of skills',
            :key='`${index}-skill`'
            :title='skill.title',
            :value='skill.score'
          )
      img.base-rect(src='/layout/base-rect.svg',alt='Base')


</template>

<script>
// powerSkills
import powerBar from '~/components/powerBar'

export default {
  data: () => ({
    skills: [
      { title: 'Diseño', score: 91 },
      { title: 'Desarrollo', score: 91 },
      { title: 'Web', score: 93 },
      { title: 'Mobile', score: 75 },
      { title: 'Creatividad', score: 90 },
      { title: 'Diseño', score: 80 }
    ]
  }),
  components: {
    powerBar
  }
}
</script>

<style lang="sass" scoped>
.base-rect
  position: absolute
  z-index: -1
  top: 10%
  left: 10%
  width: 80%

.full-container
  height: 100% !important

.body-about
  img
    height: 25em

.circle.gradient
  height: 4em
  width: 4em
  border-radius: 10em
  background: linear-gradient(to bottom, rgba(70,206,247,1) 0%, rgba(34,85,206,1) 100%)

.body-about
  width: 100%

.vertical
  transform: rotate(270deg)

@media screen and (min-width: 0) and (max-width: 768px)
  .base-rect
    position: absolute
    z-index: -1
    top: 50%
    left: 0%
    width: 100%

  .vertical
    transform: rotate(0deg)    

  div.pl-4
    padding-left: 1em !important

  div.pr-4
    padding-right: 1em !important
  
  .full-height
    height: 100%

</style>
