<template lang="pug">
  //-
    Comments
    @author Elihi A. Cruz
    @versoin 1.0.1

  section.columns.is-multiline.is-mobile.ajustment.relative
    .is-12-desktop.is-12-mobile.full-width
      .columns.is-multiline.is-centered
        .column.is-2.is-flex.flex-center(v-for='(brand, index) of brands',:key='`brand-${index}`')
          img.slideanim.logo-brand(:src='brand.image',:alt='brand.description')

    .is-12-desktop.is-12-mobile.curve-back.full-width
      .columns.is-multiline.is-mobile
        .column.is-2.is-flex.flex-center.comment-h
          button(@click='back').circle.is-flex.flex-center.shadow
            img.logo-row(src='/layout/min-row-left.svg' alt='row-left-custom-logo')
        
        .column.is-8.is-flex.flex-center.comment-h.relative.slideanim
          img.logo-quote(src='/layout/quote.svg',alt='quote')
          i.is-size-4-desktop.is-size-5-mobile.text-aling.slideanim {{comment}}
          p.is-size-5-desktop.is-size-6-mobile.user-text.mt-1.slideanim {{ `${role} - ${name}`}}
        
        .column.is-2.is-flex.flex-center.comment-h
          button(@click='next').circle.is-flex.flex-center.shadow
            img.logo-row(src='/layout/min-row-right.svg' alt='row-right-custom-logo')

    .is-12-desktop.is-12-mobile.full-width.is-flex.flex-center.row-flex.mb-5
      img.logo(src='/layout/fb.svg' alt='facebook-custom-logo')
      span.is-size-5.ml-1 143 Likes
      //
        img.logo.ml-1(src='/layout/tw.svg' alt='twitter-custom-logo')
        span.is-size-5.ml-1 100 Followers
        img.logo.ml-1(src='/layout/ig.svg' alt='instagram-custom-logo')
        span.is-size-5.ml-1 100 Likes

</template>

<script>
export default {
  data: () => ({
    index: 0,
    change: 1,
    comment: '',
    name: '',
    role: '',
    brands: [
      { image: '/companies/conagro.svg', description: 'conagro' },
      { image: '/companies/JOBIZ.svg', description: 'JOBIZ' },
      { image: '/companies/tributa.svg', description: 'tributa' }
    ],
    comments: [
      {
        comment: 'Nos ha ayudado en matería de tecnología, solventando necesidades dentro de la empresa.',
        name: 'Lic. Fredy Hernandez',
        role: 'Gerente general Tributa Legal'
      },
      {
        comment: 'El sistema me ha permitido realizar mis actividades con mayor rapidez',
        name: 'Lic. José Antonio',
        role: 'Gerente general'
      },
      {
        comment: 'Atención rápida, siempre dispuestos a ayudar',
        name: 'Ing. Marcos Barrientos',
        role: 'Director de obra'
      }
    ]
  }),
  mounted () {
    this.setComment()
  },
  methods: {
    /** go back */
    back () {
      console.log('back')
      this.change = -1
      this.setComment()
    },
    /** go back */
    next () {
      console.log('next')
      this.change = 1
      this.setComment()
    },
    /**
     * Set current comment in gallery
     */
    setComment () {
      if (this.index >= this.comments.length) {
        this.index = 0
      }
      if ((this.index + this.change) < 0) {
        this.index = this.comments.length - 1
      }
      this.name = this.comments[this.index].name
      this.comment = this.comments[this.index].comment
      this.role = this.comments[this.index].role
      this.index += this.change
    }
  }
}
</script>

<style lang="sass" scoped>

.ajustment
  z-index: 1
.curve-back
  background-image: url('/layout/back-curve-blue.svg')
  background-repeat: no-repeat, repeat
  background-size: cover
  z-index: 2

.full-width
  width: 100%

.logo-brand
  width: 7em

.logo-quote
  position: absolute
  width: 7em
  top: 20%
  left: 0%
  z-index: -1

button.circle
  z-index: 100000000
  background: white
  min-height: 60px
  min-width: 60px
  border-radius: 20em
  border: 0px
  cursor: pointer
  outline: none
  &:hover
    background: #FBFBFB

.abosolute
  position: absolute

.comment-h
  min-height: 70vh

.shadow
  box-shadow: 10px 10px 10px rgba(0,0,0,.20)

.logo
  width: 2em

.logo-row
  width: 1.5em

.user-text
  color: #A2A2A2

// Mobile
@media screen and (min-width: 0) and (max-width: 768px)
  .triangle-down
    bottom: 0px
    left: 0px
    width: 10em

</style>