<template lang="pug">
  //-
    Contact us
    @author Elihi A. Cruz
    @versoin 1.0.2

  section#contact.columns.is-multiline.is-mobile.page--full-height.page--full-width.is-gapless
    .column.is-6-desktop.is-12-mobile.bg.customgray.is-flex.flex-center
      h3.is-size-3-desktop.is-size-4-mobile.txt.blue--strong.mt-2 ¿Tienes alguna pregunta?
      h4.is-size-4-desktop.is-size-5-mobile.txt.blue--strong Escribenos sin compromiso
      form.pb-2.mt-2(@submit.prevent='send')
        span.is-size-6.red(v-if='fullForm') Llene los campos antes de enviar
        span.is-size-6.red(v-if='(error.length > 0)') {{ error }}
        span.is-size-6.txt.blue--normal(v-if='sended') El mensaje ha sido enviado
        .container-input.columns.is-multiline.is-mobile.slideanim
          .column.is-3
            label.is-size-5-desktop.is-size-6-mobile.switch-label Su correo
          .column.is-9
            input#email.switch-input(v-model='email',@keydown='limit',type='email',placeholder='example@domain.com',:maxlength='limits.email',validated)
            br/
            .with-counter.is-flex.flex-end
              p.is-size-7-desktop.is-size-7-mobile {{(email.length)}}/{{limits.email}}
        
        .container-input.columns.is-multiline.is-mobile.slideanim
          .column.is-3
            label.is-size-5-desktop.is-size-6-mobile.switch-label Asunto
          .column.is-9
            input#subject.switch-input(v-model='subject',type='text',placeholder='Pregunta/Cotización',:maxlength='limits.subject',validated)
            br/
            .with-counter.is-flex.flex-end
              p.is-size-7-desktop.is-size-7-mobile {{subject.length}}/{{limits.subject}}
        .container-input.columns.is-multiline.is-mobile.slideanim
          .column.is-3
            label.is-size-5-desktop.is-size-6-mobile.switch-label Mensaje
          .column.is-9
            textarea#body.switch-text(v-model='body',placeholder='Quiero cotizar un proyecto, con X características y con un gíro innovador',:maxlength='limits.body',validated)
            br/
            .with-counter.is-flex.flex-end
              p.is-size-7-desktop.is-size-7-mobile {{body.length}}/{{limits.body}}
        br/        
        .is-flex.flex-end
          vue-recaptcha(ref="recaptcha",@verify='verify',size='',sitekey="6LdwbmUUAAAAAMgR5K2woH4r39r1FULlM7mHcOun")
        br/
        .is-flex.flex-end
          button.button.is-size-6-desktop.is-size-7-mobile.item(:disabled='isLoading') Enviar

    .column.is-5-desktop.is-12-mobile.is-flex.flex-center.content-map
      h3.is-size-3-desktop.is-size-4-mobile.txt.blue--strong.mt-2 Encuentranos aquí 📍
      br/
      iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d338.8412994599548!2d-93.13647402667726!3d16.7623219816584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd9e3e9011053%3A0x949c95a33c6cd90!2sSWITCH+tecnolog%C3%ADas!5e0!3m2!1sen!2smx!4v1531638303137" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
</template>

<script>
import VueRecaptcha from 'vue-recaptcha'

export default {
  head: {
    script: [
      { src:'https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit',async: 'async',defer: 'defer'}
    ]
  },
  data: () => ({
    email: '',
    body: '',
    subject: '',
    limits: {
      email: 50,
      body: 500,
      subject: 150,
    },
    isVerified: false,
    fullForm: false,
    isLoading: false,
    sended: false,
    error: ''
  }),
  methods: {
    // captcha verify
    verify (response) {
      this.isVerified = true
      this.gRecaptchaResponse = response
    },
    /**
     * make http request
     */
    async send () {
      if (this.email === '' || this.subject === '' || this.body === '') {
        this.fullForm = true
        return
      }
      this.isLoading = true
      // something happen!
      if (this.isVerified) {
        let data = {
          email: this.email,
          subject: this.subject,
          body: this.body,
          'g-recaptcha-response': this.gRecaptchaResponse
        }

        try {
          await this.$axios.post('https://us-central1-switch-page.cloudfunctions.net/sendEmail', data)
          this.email = ''
          this.subject = ''
          this.body = ''
          this.gRecaptchaResponse = ''
          this.isVerified = false
          this.fullForm = false
          this.$refs.recaptcha.reset()
          this.sended = true
        } catch (error) {
          console.log(error.response, error)
          this.error = 'El mensaje no ha sido enviado.'
          this.$refs.recaptcha.reset()
        } finally {
          this.isLoading = false
        }
      }
    },
    /**
     * Limit characters configuration
     */
    limit (e) {
      if (this.limits[e.target.id] >= this[e.target.id]) {
        e.stopPropagation()
      }
    }
  },
  components: {
    VueRecaptcha
  }
}
</script>

<style lang="sass" scoped>
.red
  color: red
.relative
  position: relative
  width: 50%;
  height: 100%;

.content-map
  width: 50%
.map
  width: 100% !important
  min-height: 100% !important
.button
  outline: none
  transition: all .3s
  background-color: #FBFBFB
  cursor: pointer
  border: 0px
  border-radius: 20em
  color: #0C1F51
  font-weight: 700
  font-family: 'Cabin', Arial
  padding: .7em 1em
  box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.2)

  &:hover
    background-color: #46CEF7
    color: white

form
  width: 80%

.with-counter
  width: 100%
  p
    color: #74757B

.container-input
  width: 100%
  min-height: 3em
  margin: .3em
  
  label.switch-label
    font-weight: 700
    width: 5em
    margin-right: 1em

  .switch-text,input.switch-input
    width: 100%
    background-color: #FBFBFB
    box-shadow: 0px 3px 6px rgba(0,0,0,.16)
    padding: 1em
    font-size: 10pt
    border: 0px

  textarea.switch-text
    min-height: 10em

@media screen and (min-width: 0) and (max-width: 768px)
  .content-map
    width: 100vw

  .map
    width: 100vw !important
    min-height: 30vh !important
</style>
