<template lang="pug">
  section.overlap

    //- BASE CONTAINER
    .columns.is-multiline.page--full-height.page--full-width
      .column.is-2.mobile-menu.margin-menu

        box-menu(class='slideanim',id='about/web',icon='/icons/flat-dev.svg',title='Desarrollo Web_')/
        box-menu(class='slideanim',id='about/apps',icon='/icons/flat-mobile.svg',title='Aplicaciones móviles')/
        box-menu(class='slideanim',id='about/sales',icon='/icons/flat-desktop.svg',title='Ventas de equipo')/

      .column.is-10.is-flex.center.pl-5
        //- Title String
        h1.slideanim.is-size-2-desktop.is-size-4-mobile.txt.gray--light.text-hover Lleva tu negocio al siguiente nivel

        //- Sub-title String
        h3.slideanim.is-size-5-desktop.is-size-6-mobile.txt.gray--light.text-hover Imagínalo y nosotros lo haremos posible

    img.abs.t.big(src='/layout/big-piramide.svg' alt='big triange icon')
    img.abs.t.med(src='/layout/med-piramide.svg' alt='med triange icon')
    img.abs.t.min(src='/layout/min-piramide.svg' alt='min triange icon')
   
    a.ar-go(href='https://ar.switchtecno.com')
      img.ar-img(src='/icons/arcard.svg')
    //- <img class="abs rocket" src="/layout/rocket.svg" alt="moon"-->
  </div>
</template>

<script>
// Button components
import boxMenu from '~/components/boxMenu'

export default {
  components: {
    boxMenu
  }
}
</script>


<style lang="sass" scoped>

.ar-go
  position: absolute
  bottom: 0px
  right: 0px
  z-index: 14
  .ar-img
    width: 7em

// Content over animation
.overlap
  position: absolute
  width: 100%
  top: 0px
  left: 0px

.margin-menu
  margin-top: 10vh

// Title center
.center
  justify-content: center
  align-items: start
  flex-direction: column

.text-hover
  transition: all .3s

  &:hover
    color: #46CEF7

// Layout icons
.abs
  position: absolute

  &.t
    right: 0em
    bottom: 0px

    &.big
      height: 13em
      z-index: 13

    &.med
      height: 11em
      z-index: 12

    &.min
      height: 8em
      z-index: 11

  &.moon
    right: 0em
    top: 0em
    height: 14em
    z-index: 10

  &.rocket
    right: 20em
    bottom: 0px
    height: 7em
    z-index: 14

// Mobile
@media screen and (min-width: 0) and (max-width: 768px)
  .mobile-menu
    display: none

  div.pl-5
    padding-left: 3em !important

  .center
    min-height: 100vh
    height: auto

  // Layout icons
  .abs
    position: absolute

    &.t
      right: 0em
      bottom: 0px

      &.big
        height: 13em

      &.med
        height: 11em

      &.min
        height: 8em

    &.moon
      right: 0em
      top: 0em
      height: 10em
      z-index: 10

</style>
