<template lang="pug">
  //-
  
  section.columns.is-multiline.is-mobile.is-gapless
    .column.is-12-desktop.is-12-mobile.relative.pt-4.mb-3.is-flex.flex-center
      h2.is-size-3.txt.blue--strong.title-process ¿Cómo trabajamos?
      img.circles(src='/layout/circles.svg')

    .column.is-6-desktop.is-12-mobile.page-image.is-flex.flex-center
      img.icon-frame(src='/layout/analisis-frame.svg')

    .column.is-6-desktop.is-12-mobile.page-image.is-flex.page-end.range-right.slideanim
      h3.is-size-4.txt.blue--strong.text-end.pl-1 Análisis y Diseño de su solución
      .line
      p.is-size-5.ml-3.regular.text-end Realizamos una serie de citas y/o video llamadas para la obtención de requisitos.
      p.is-size-5.ml-3.regular.text-end.mt-1 Analizamos su problemática y diseñamos una propuesta tecnológica eficaz.

    .column.is-6-desktop.is-12-mobile.page-image.is-flex.page-start.range-left.slideanim
      h3.is-size-4.txt.blue--strong Desarrollo ágil_
      .line
      p.is-size-5.regular.text-start Aplicamos metodologías ágiles basadas en entregas constantes cada 2 o 3 semanas, para verficiar la construcción de una solución que cubra sus necesidades.

    .column.is-6-desktop.is-12-mobile.page-image.is-flex.flex-center
      img.icon-frame(src='/layout/development.svg')

    .column.is-6-desktop.is-12-mobile.page-image.is-flex.flex-center
      img.icon-frame(src='/layout/deliver.svg')

    .column.is-6-desktop.is-12-mobile.page-image.is-flex.page-end.range-right.slideanim
      h3.is-size-4.txt.blue--strong Entrega de tu producto
      .line
      p.is-size-5.ml-3.regular.text-end Al finalizar la fase de desarrollo y pruebas; Desplegamos y entregamos la version final de tu producto. Ahora tu negocio podrá ofrecer un servicio increible, con  lo mejor en tecnología.

</template>

<style lang="sass" scoped>
.regular
  font-weight: 100
.page-end.range-right
  padding-right: 5em !important

.page-start.range-left
  padding-left: 5em !important

.line
  margin: 1em 0em 1em 0em
  width: 5em
  border-bottom: 5px solid #46CEF7

.circles
  position: absolute
  top: 0px
  right: 10%
  width: 4em

.page-image
  min-height: 50vh

.icon-frame
  width: 20em

@media screen and (min-width: 0) and (max-width: 768px)
  .page-end.range-right
    padding-right: 2em !important

  .page-start.range-left
    padding-left: 2em !important

  .title-process
    margin-top: 6em
</style>
