<template lang="pug">
  //-
    Main service galery
    @author Elihi A. Cruz
    @versoin 1.0.1

  section.is-gapless.columns.is-multiline.card-image.page--full-height.is-marginless
    // (:style="{ backgroundImage: `url('${grids[currentGrid].image}')` }")

    .body.column.is-12.image-description.is-flex.flex-end.relative
      transition(name="fade")
        img.grid-back(v-for='(grid, index) of grids',v-if='index === currentGrid',:key='`${index}-image-grid`',:src='grid.image',alt='service image')
      side-info(:title='grids[currentGrid].title',:description='grids[currentGrid].description',:link='grids[currentGrid].link')

    .footer.column.is-12.bg.white.relative
      
      #options.container.is-flex.slideanim
        button-switch(
          v-for="(grid, index) of grids"
          :key='`${index}-grid`'
          :id='index',
          :title='grid.button',
          :link='grid.link'
          :hold='(currentGrid === index)',
          @touch="updateGridButton"
        )

</template>

<script>
// Side info menu
import sideInfo from '~/components/sideInfo'
import buttonSwitch from '~/components/buttonSwitch'

export default {
  data: () => ({
    timeGrid: 5000, //msec
    currentGrid: 0,
    grids: [
      {
        image: '/background/apps.jpg',
        button: 'Aplicaciones Web/Nativas',
        title: 'Aplicaciones acorde a tus necesidades',
        description: 'Creamos aplicaciones para dispositivos móviles. Trabajamos para que tu aplicación brinde funcionalidad, practicidad y una mejor presentación a tu empresa. ',
        link: '/about/apps?target=top'
      },
      {
        image: '/background/web.jpg',
        button: 'Sitios Web',
        title: 'Promociona tu negocio/servicios vía internet.',
        description: 'El incremento constante de las telecomuncaciones y el numero de dispositivos conectados a internet explora nuevas posibilidades para proyectar productos y servicios por medio de internet. Obtener nuevos clientes y crear impacto no solo local, si no internacional hoy puedes lograrlo con ayuda de una plataforma web que se ajuste a tu necesidad.',
        link: '/about/web?target=top'
      },
      {
        image: '/background/saas.jpg',
        button: 'Software como servicio',
        title: 'Software como servicio',
        description: 'Utiliza aplicaciones que se ajusten a tus necesidades, olvida las instalaciones complejas y pagos de licencia a precios elevados, nosotros de proveemos: Aplicaciones y Servicios a tu alcance, con sistemas de pago mensuales a costos accesibles.',
        link: '/about/saas?target=top'
      },
      {
        image: '/background/talk.jpg',
        button: 'Consultoría',
        title: '¿Necesitas una apoyo?',
        description: 'Somos un equipo de Ingenieros especializados en desarrollo de software y sistemas computacionales, contamos con diversas experiencias en diferentes campos y siempre estamos abiertos a colaborar con nuevas empresas, si cuentas con una necesidad de consultoría, contactanos, nosotros te atenderémos.',
        link: '/about/consult?target=top'
      },
      {
        image: '/background/sales.jpg',
        button: 'Equipos Informáticos',
        title: 'El equipo que necesitas, más cerca de tí',
        description: 'Ofrecemos una seríe de productos informáticos para empresas y/o particulares que busquen cubrir una necesidad tecnológica. Contactanos para conseguir listados de precios y productos.',
        link: '/about/sales?target=top'
      },
      
    ]
  }),
  mounted () {
    setInterval(() => {
      this.currentGrid = ((this.grids.length - 1) === this.currentGrid) ? 0 : this.currentGrid + 1
    }, 5000)
  },
  methods: {
    /**
     * Update current button hold status
     * @param {Number} updateId
     */
    updateGridButton (updateId) {
      this.currentGrid = updateId
    }
  },
  components: {
    sideInfo,
    buttonSwitch
  }
}
</script>

<style lang="sass" scoped>
.footer
  height: 20vh
  width: 100%
  overflow-x: scroll

.grid-back
  position: absolute
  
  min-width: 70%
  height: 100%

  z-index: -100
  top: 0px
  left: 0px

.card-image
  overflow-x: hidden;
  transition: all .4s
  width: 100%
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  animation: changeimage .7s

.container
  height: 100%

@keyframes changeimage
  from
    opacity: 0
  to
    opacity: 1

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter,.fade-leave-to
  opacity: 0


@media screen and (min-width: 0) and (max-width: 768px)
  .grid-back
    position: absolute
    
    min-width: 70%
    height: 100vh

    z-index: -100
    top: 0px
    left: -70%

</style>
